/* THREAD PANEL */

	#threadsPanel {	margin: 10px 0px 0px 10px;
					width: 90%;
					background-color: #2F2F2F;
					border: 1px solid black;
					border-collapse: collapse;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					float: left;
	}

	/* THREAD INFO */

		tr[class='threadInfo'] {	border: 1px solid black;
		}

		tr[class='threadInfo']:hover {	background-color: #3F3F3F;
		}

		/* THREAD CATEGORY IMAGE */

			td[class='threadCategory'] {	padding: 2px;
											width: 70px;
			}

			td[class='threadCategory'] > img {	height: 40px;
												width: 70px;
												border-left: 0px;
												float: left;
			}

		/* TREAD NAME */

			td[class='threadTitle'] {	padding-left: 10px;
										width: 40%;
										border-collapse: separate;
			}

/* MISC PANEL */

	#miscPanel {	margin: 10px 0px 0px 10px;
					height: auto;
					width: 100%;
					padding: 10px;
					background-color: #2F2F2F;
					float: right;
					text-align: center;
					border-radius: 10px 0px 0px 10px;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}