/* THREAD PANEL */

	#threadsPanel {	margin: 10px 0px 0px 10px;
					width: 100%;
					background-color: #2F2F2F;
					border: 5px solid black;
					border-collapse: collapse;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					float: left;
					border-collapse: collapse;
					border-radius: 1em;
					overflow: hidden;
	}

	/* THREAD INFO */

		.threadInfo {	border: 1px solid black;
						padding: 5px;
		}

		.threadInfo:hover {	background-color: #3F3F3F;
		}

		/* THREAD CATEGORY IMAGE */

			.threadCategory {	padding: 2px;
								width: 70px;
			}

			.threadCategory > img {	height: 40px;
									width: 65px;
									border-left: 0px;
									float: left;
			}

		/* THREAD NAME */

			.threadName {	padding: 0px 5px 0px 5px;
							width: 60%;
			}

			.threadName > b > a:link {	color: white;
										text-decoration: none;
			}

			.threadName > b > a:hover {	color: #FF8C00;
			}

			.threadName > b > a:visited {	color: #dedede;
			}			

			.threadName > b > a:visited:hover {	color: #FF8C00;
			}

		/* THREAD LAST MESSAGE */

			.threadLastMsg {	padding: 0px 5px 0px 5px;
								text-align: center;
								border: 1px solid black;
								border-width: 0px 1px 0px 1px;
			}

		/* THREAD STATS */

			.threadStats {	text-align: left;
							background-color: #FF8C00;
							padding: 0px 5px 0px 5px;
							border-left: 1px solid black; 
			}

/* MISC PANEL */

	#miscPanel {	margin: 20px 0px 0px 10px;
					height: auto;
					width: 80%;
					padding: 10px;
					background-color: #2F2F2F;
					float: right;
					text-align: center;
					border: 1px solid black;
					border-radius: 10px 0px 0px 10px;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					text-align: center;
	}

/* ADS */
	
	.RightAdsContainer {	width: 300px;
							height: 600px;
							border: 1px solid white;
							margin: auto auto 20px auto;
							text-align: center;
							background-color: black;
	}

/* IF ERROR */

	#noData {	height: auto;
				width: 50%;
				background-color: #2F2F2F;
				margin: auto;
				margin-top: 20px;
				margin-bottom: 20px;
				padding: 10px 0px 10px 0px;
				position: relative;
				text-align: center;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
				border: 2px solid black;
	}

	#noData > img {	width: 70%;
					height: 70%;
					margin: auto;
	}

	#noData > h1 {	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					color: #FF4040;
	}