/* HTML */

	html {	background-color: #8E8E8E;
			font-family: 'Lato', sans-serif;
			-moz-font-family: 'Lato', sans-serif;
			font-size: 14px;
			color: white;
			-moz-appearance: none;
	}

/* BODY */

	body {	margin: auto;
			padding: auto;
	}

/* ERRORS */

	.error {	font-weight: bold;
				font-size: 14px;
				color: #FF4040;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

/* IMG BANNER */

	img[id="Banner"] {	width: 20%;
						margin: 3px;
	}

/* HEADER */

	.header {	background-color: #4F4F4F;
				height: 30%;
				border-top: 2px solid black;
	}

	/* USER DIV */

		.userDiv {	float: right;
					padding: 10px;
		}

		/* IF USER LOGED */

			.userLoged {	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}

			.userLoged a {	text-decoration: none;
							color: white;
			}

			.userLoged i {	padding: 10px;
							background-color: #FF8C00;
							border-radius: 50%;
							border: 1px solid black;
							transition: 0.25s ease-out;
			}

			.userLoged i:hover {	background-color: black;
									border: solid 1px white;
									transition: 0.5s ease-out;
			}

/* INPUT */

	input {	border: solid 1px black;
			border-radius: 2px;
			padding: 5px;
	}

	input:focus {	border: solid 1px #FF8C00;
					outline: none;
	}

	input[type="submit"]:hover, input[type="submit"]:focus {	background-color: #FF8C00;
																transition: 0.5s;
																transform: perspective(1px) scale(1.05);
	}

	input[type='submit'] {	font-weight: bold;
	}

	#searchButton {	background-color: #FF8C00;
					border-radius: 2px;
					padding: 5px;				
    				border: none;
    				outline:none;
    				text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}

	#searchButton:hover {	transition: 0.5s;
							transform: perspective(1px) scale(1.25);
	}

/* NAVIGATION BAR */

				
	.navBar {	width: 100%;
				position: relative;
				background-color: #2F2F2F;
				overflow: hidden;
				border-top: 2px solid black;
				border-bottom: 2px solid black;
	}

	.navBar a {	float: left;
				color: white;
				text-align: center;
				padding: 15px 15px;
				text-decoration: none;
				font-size: 15px;
				font-weight: bold;
				border-right: 2px solid black;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	.navBar a:hover {	background-color: #FF8C00;
						color: black;
						text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}

	.navBar a.active {	background-color: #FF8C00;
						color: black;
						text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}

	#newThreadButton {	background-color: #32CD32;
						color: white;
						text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
						float: right;
						border-left: 2px solid black;
						border-right: none;
	}

	#newThreadButton:hover {	background-color: #28A428;
								color: black;
								text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	}

/* PAGINATOR */

	.pageSelector {	display: inline-block;
	  				text-align: center;
	}

	.pageSelector li {	display: contents;
	}

	.page-link {	color: white;
					background-color: #2F2F2F;
					padding: 6px 10px;
					text-decoration: none;
					border: 1px solid black;
					font-size: 22px;  
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	.page-link:hover {	background-color: #4F4F4F;
	}

	span:not([aria-hidden="true"]).page-link {	background-color: #FF8C00;
	}

/* FOOTER */

	#footer {	background-color: #4F4F4F;
				position: relative;
				margin-top: 20px;
				overflow: hidden;
  				left: 0;
  				bottom: 0;
  				height: auto;
  				width: 100%;
  				border-top: 2px solid black;
  				color: white;
  				text-align: center;
  				padding-top: 5px;
  				padding-bottom: 5px;
  				margin-bottom: 0;
  	}

/* SOCIAL */

	.socialNetwork {	width: 20px;
 						float: left;
 						margin-left: 5px;
 						border: 1px solid black;
 						border-radius: 5px;
 	}

/* ADS */

	.headerAdsContainer {	width: 100%;
							height: 90px;
							border-bottom: 2px solid black;
							text-align: center;
							background-color: black;
	}

/* CUSTOM SCROLLBAR */

	::-webkit-scrollbar {	width: 10px;
	}

	::-webkit-scrollbar-track {	background: white; 
	}

	::-webkit-scrollbar-thumb {	background: #FF8C00; 
	  							border: solid 1px black;
	}

	::-webkit-scrollbar-thumb:hover {	background: #8E8E8E; 
	}

/* REPLY */

	#replyPost {	width: 100%;
					text-align: center;
					margin: auto;
					margin-top: 10px;
					padding: 10px 0px 10px 0px;
	}

	/* REPLY BUTTONS */

		#replyButtons {	margin: auto;
						background-color: #4F4F4F;
						width: 70%;
						padding: 10px;
						border: solid 1px black;
		}

		#replyButtons > button {	width: 5%;
									border-radius: 3px;
									border: solid 1px black;
									padding: 5px;
									font-size: 20px;
									text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		}

		#replyButtons > button:hover {	background-color: #FF8C00;
										transition: 0.5s;
										transform: perspective(1px) scale(1.10);
		}

		#replyButtons > button:focus {	outline: none;
		}

	/* REPLY MESSAGE */

		div[name="replyMsg"] {	
								width: 70%;
								background-color: white;
								color: black;
								min-height: 200px;
								outline: none;
								font-family: 'Lato', sans-serif;
								font-size: 14px;
								text-align: left;
								border: solid 1px black;
								padding: 10px;
								margin: auto;
								text-shadow: none;
								word-break: break-word;
		}

		div[ name="replyMsg"]:empty:not(:focus):before {	content: attr(data-placeholder)
		}

		/* REPLY IMAGE */

			div[name="replyMsg"] img {	max-width: 100%;
			}

		/* REPLY YOUTUBE EMBED */

			div[name="replyMsg"] iframe {	height: 315px;
											width: 560px;
											display: block;
					    					margin: 30px auto 30px auto;
											border: 1px solid black;
			}

	/* REPLY BUTTON */

		#replyButton {	font-size: 16px;
						font-weight: bold;
						width: 150px;
						margin: 10px;
						padding: 5px;
						border: 1px solid black;
						outline: none;
						border-radius: 5px;
		}

		#replyButton:hover {	background-color: #FF8C00;
								transition: 0.5s;
								transform: perspective(1px) scale(1.05);
								backface-visibility: hidden;
		}

	/* REPLY MESSAGE */

		.msgText {	width: auto;
					color: black;
					vertical-align: top;
					word-break: break-word;
					padding: 10px;
		}

		/* MESSAGE PROPERTIES */

			.msgText > img, .msgText > div > img {	max-width: 100%;
													height: auto;
			}				

	/* YOUTUBE EMBED */

		.msgText > iframe {	height: 315px;
							width: 560px;
							display: block;
	    					margin: 30px auto 30px auto;
							border: 1px solid black;
		}

		[contenteditable] {
		  /* will match all elements with contenteditable attribute */
		  display: block;
		}