/* THREAD TITLE */

	#threadTitle {	text-align: center;
					font-size: 2.5vh;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					margin: 1vh;
	}

/* MESSAGES */

	.msgPost {	width: 95%;
			    background-color: #2F2F2F;
			    border: solid 1px black;
			    -webkit-border-radius: 8px;
			    margin: 1vh auto;
			    font-size: 1.5vh;
	}
	
	.msgPost li {	list-style-type: none;
				    border-top: solid 1px black;
				    padding: 0.75vh;
	}
	
	.msgPost li:first-child {	border-top: none;
	}

	/* MESSAGE CREATOR */


		.userInfo img {	width: 4vh;
						float: right;
						border-radius: 10px;
		}

		.userInfo .userName {	font-weight: bold;

		}

		.userName a {	text-decoration: none;
						color: white;
		}

		.userName a:hover {	color: #FF8C00;
		}
		
	/* MESSAGE CONTENT */

		.msgText {	background-color: #4F4F4F;
					border-radius: 0px 0px 7px 7px;
		}

		.msgText img {	max-width: 100%;
		}

/* REPLY */

	#replyPanel {	float: right;
					margin: 1vh;
	}

	#replyPost {	width: 100%;
				    display: inline-block;
				    background-color: #2F2F2F;
					border: solid 1px black top bottom;
				    margin: 1vh auto;
				    word-break: break-all;
	}

	#replyButtons {	text-align: center;
					padding: 2.5vh;
	}

	#replyButtons button {	min-width: 5vh;
							min-height: 5vh;
							font-size: 2.5vh;
							border-radius: 10px;
							box-shadow: none;
							outline: none;
	}

	#replyButtons button:active {	background-color: #FF8C00;
									transition: 0.5s;
	}

	#userMsg {	min-height: 15vh;
				height: auto;
				width: 90%;
				font-size: 3vh;
				background-color: #8E8E8E;
				margin: auto;
				padding: 1vh;
				border-radius: 10px;
				outline: none;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	iframe {	border: solid 1px black;
	}

	#replyButton {	margin: 1vh;
					float: right;
	}

@media screen and (orientation:landscape) {

	#threadTitle {	font-size: 3.5vw;
	}

	.msgPost li {	font-size: 2vw;
					padding: 0.75vw;
	}

	.userInfo img {	width: 5vw;
	}

	#replyButtons button {	width: 10vh;
							height: 10vh;
							font-size: 6.5vh;
	}

	#userMsg {	min-height: 20vw;
				padding: 2vw;
				font-size: 3vw;
	}

	#replyButton {	margin: 4vw;
	}
}