/* THREAD TITLE */

	#threadTitle {	text-align: center;
					font-size: 2.5vh;
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					margin: 1vh;
	}

/* MESSAGES */

	.msgPost {	width: 90%;
			    background-color: #2F2F2F;
			    border: solid 1px black;
			    -webkit-border-radius: 8px;
			    margin: 1vh auto;
			    font-size: 1.5vh;
	}
	
	.msgPost li {	list-style-type: none;
				    border-top: solid 1px black;
				    padding: 0.75vh;
	}
	
	.msgPost li:first-child {	border-top: none;
	}

	/* MESSAGE CREATOR */


		.userInfo img {	width: 4vh;
						float: right;
						border-radius: 10px;
		}

		.userInfo .userName {	font-weight: bold;

		}
	/* MESSAGE CONTENT */

		.msgText {	background-color: #4F4F4F;
					border-radius: 0px 0px 7px 7px;
		}

		.msgText img {	max-width: 100%;
		}
